.body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    
}

.card {
    position: relative;
    width: 600px;
    height: 550px;
    background-color:lightpink ;
    border-radius: 25px;
    left: 50%;
    translate: -50%;
    top: 80px;
    border: 10px pink solid;
    box-shadow: 0px 4px 8px black;
}

.card-header {
    width: 600%;
    height: 100px;
    border-radius: 20px 0 0 0;
}

.card img {
    width: 600px;
    height: 100px;
    border-radius: 20px 20px 0 0;
}

.container h1 {
    position: absolute;
    left: 15px;
    top: 80px;
}

.container h4 {
    position: absolute;
    left: 15px;
    top: 130px;
}

.container img {
    position: absolute;
    left: 400px;
    width: 40%;
    top: 270px;
    height: 450px;
}


.container p {
    position: absolute;
    font-size: 15px;
    top: 160px;
    left: 15px;
    margin-right: 10px;
}

.container h6 {
    position: absolute;
    font-size: 15px;
    top: 270px;
    left: 15px;
    margin-right: 10px;
}

.profile-container img {
    position: absolute;
    left: 40px;
    width: 30%;
    top: 350px;
    height: 180px;
    border-radius: 20px 20px 20px 20px;
    border: 3px black solid;
}

}




